.inline-pull-quote {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 13px;
}
@media(max-width: 900px) {
    .inline-pull-quote {
        flex-wrap: wrap;
        padding-bottom: 0;
    }
}
.inline-pull-quote-content {
    width: 50%;
    padding-right: 20px;
}
@media(max-width: 900px) {
    .inline-pull-quote-content {
        width: 100%;
        padding-right: 0;
        order: 2;
    }
}
.inline-pull-quote-image-container {
    width: 50%;
}
@media(max-width: 900px) {
    .inline-pull-quote-image-container {
        width: 100%;
        order: 1;
        margin-bottom: 10px;
    }
}
.inline-pull-quote-image {
    width: 100%;
}
.inline-pull-quote .grey-bar {
    display: block;
    background: #EAEAEA;
    height: 10px;
    width: 120px;
    margin-top: 8px;
}
@media(max-width: 900px) {
    .inline-pull-quote .grey-bar {
        display: none;
    }
}



.inline-pull-quote-2 {
    margin-bottom: 40px;
}
@media(max-width: 900px) {
    .inline-pull-quote-2 {
        margin-bottom: 30px;
    }
}
.inline-pull-quote-2-content {}
.inline-pull-quote-2-content .quote {
    font-size: 24px;
    line-height: 35px;
    padding-right: 100px;
}
.inline-pull-quote-2-content .quote-author {}