.next-chapter {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 122px 0 141px 0;
    min-height: 325px;
}
@media(max-width: 900px) {
    .next-chapter {
        padding: 50px 0 99px 0;
        min-height: 88px;
    }
}
.next-chapter .chapter-link {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    min-height: 325px;
}
@media(max-width: 900px) {
    .next-chapter .chapter-link {
        min-height: 88px;
        width: 100%;
    }
}
.next-chapter .chapter-link .chapter-information {
    width: 80%;
    padding: 23px 300px 23px 0;
    min-height: 325px;
}
@media(max-width: 900px) {
    .next-chapter .chapter-link .chapter-information {
        width: 65%;
        padding: 19px 0;
        min-height: 88px;
    }
}
.next-chapter .chapter-link .chapter-information h4 {
    margin-bottom: 17px;
}
@media(max-width: 900px) {
    .next-chapter .chapter-link .chapter-information h4 {
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 17px;
    }
}
.next-chapter .chapter-link .chapter-information h3 {
    margin-bottom: 23px;
}
@media(max-width: 900px) {
    .next-chapter .chapter-link .chapter-information h3 {
        margin-bottom: 0;
        font-size: 21px;
        line-height: 26px;
        font-weight: 500;
    }
}
.next-chapter .chapter-link .chapter-information p {}
@media(max-width: 900px) {
    .next-chapter .chapter-link .chapter-information p {
        display: none;
    }
}
.next-chapter .chapter-link .chapter-continue {
    width: 20%;
    padding: 20px 0;
    color: silver;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 22px;
    letter-spacing: 1px;
}
@media(max-width: 900px) {
    .next-chapter .chapter-link .chapter-continue {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35%;
        margin-bottom: 0;
    }
}
.next-chapter .chapter-link .chapter-continue .chapter-continue-content {
    border-left: 11px solid #215398;
    position: relative;
    left: -6px;
}
@media(max-width: 900px) {
    .next-chapter .chapter-link .chapter-continue .chapter-continue-content {
        display: flex;
        width: 100%;
        border-left: 5px solid #215398;
        position: relative;
        left: -3px;
        text-align: center;
    }
}
.next-chapter .chapter-link .chapter-continue .chapter-continue-content .chapter-continue-content-arrow {
    text-align: center;
    margin-bottom: 20px;
}
@media(max-width: 900px) {
    .next-chapter .chapter-link .chapter-continue .chapter-continue-content .chapter-continue-content-arrow {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 0;
    }
}
.next-chapter .chapter-link .chapter-continue .chapter-continue-content .chapter-continue-content-arrow .chapter-continue-arrow {
    width: 120px;
}
@media(max-width: 900px) {
    .next-chapter .chapter-link .chapter-continue .chapter-continue-content .chapter-continue-content-arrow .chapter-continue-arrow {
        width: 60px;
    }
}
.next-chapter .chapter-link .chapter-continue .chapter-continue-content .chapter-continue-content-word {
    text-align: center;
}
@media(max-width: 900px) {
    .next-chapter .chapter-link .chapter-continue .chapter-continue-content .chapter-continue-content-word {
        display: none;
    }
}