.two-column-heading {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 40px;
}
@media(max-width: 900px) {
    .two-column-heading {
        padding-bottom: 0;
    }
}
.two-column-heading h3 {
    width: 100%;
    margin-bottom: 26px;
}
@media(max-width: 900px) {
    .two-column-heading h3 {
        margin-bottom: 10px;
    }
}
.two-column-heading .highlights-image {
    margin-bottom: 40px;
}
@media(max-width: 900px) {
    .two-column-heading .highlights-image {
        margin-bottom: 20px;
    }
}
@media(max-width: 900px) {
    .two-column-heading h2 {
        margin-bottom: 0;
    }
}
@media(max-width: 900px) {
    .two-column-heading h2 br {
        display: none;
    }
}